main#gallery section#gallery_section {
    width: 80%;
    margin: 10px auto;
    background: #3fa9f5;
    padding: 10px;
    border-radius: 5px;
}

section#gallery_section h2 {
    margin: 40px 0;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: #000;
}

section#gallery_section .gallery {
    width: 73%;
    margin: 0 auto;
    padding: 5px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
@media (max-width: 1025px) {
    section#gallery_section .gallery{
        width: 77%;
    }
}
@media (max-width: 768px) {
    section#gallery_section .gallery{
        width: 69%
    }
}
@media (max-width: 426px) {
    section#gallery_section .gallery{
        width: 211px;
    }
}

.gallery > div {
    position: relative;
    float: left;
    padding: 5px;
}

.gallery > div > img {
    display: block;
    width: 200px;
    transition: .1s transform;
    transform: translateZ(0); /* hack */
}

.gallery > div:hover {
    z-index: 1;
}

.gallery > div:hover > img {
    transform: scale(1.7,1.7);
    transition: .3s transform;
}

.cf:before, .cf:after {
    display: table;
    content: "";
    line-height: 0;
}

.cf:after {
    clear: both;
}
