html, body{
  font-family: "Lato", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(1, 0, 80);
}

h1{
  font-size: 2.5em;
}

h2{
  font-size: 1.5em;
  border-bottom: 2px solid;
}

h3{
  font-size: 1.125em;
}

h1, h2, h3{ color: #cca300; }

p{
  line-height: 1.55;
  font-size: 1em;
}

/*
*==========================================================================
* Styling for navigation bar
*==========================================================================
*/
nav{
  background: #edbc00;
  height: 80px;
  padding: 20px 0 0;
}
#hamburger, .menuicon{
  display: none;
}
/*For unordered list*/
nav ul{
  list-style-type: none;
  margin: 0px 70px 0 0;
  float: right;
  padding: 0;
}
/*This is for dropdown-menu's*/
nav ul li#member-dropdown-btn ul.dropdown_menu{
  display: none;
  background-color: #eee;
  padding: 0px;
  margin: 0;
  position: absolute;
  width: 15%;
  overflow: auto;
  z-index: 1;
}
nav ul li#member-dropdown-btn:hover > ul{
  display: block;
}
/*Float all list-items to left side of the navbar*/
nav ul li{
  margin: auto;
  display: inline-table;
  padding: 5px;
}
/*Add some padding to give spaces between two links*/
nav ul li a{
  display: block;
  padding: 1em;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*This is for changing background color when user hovers on a link*/
nav ul li a:hover{
  background: rgb(1, 0, 80);
  text-decoration: underline;
  color: #FFF;
  opacity: 0.8;
}
/*When a link is selected, keep that background color.*/
.selected{
  background: rgb(1, 0, 80);
  text-decoration: underline;
  color: #FFF;
}
/*Logo styling*/
nav .navbar-logo{
  position: relative;
  top: -10px;
  font-size: 25px;
  line-height: 1.042;
  font-weight: 700;
  text-decoration: none;
  color: rgb(1, 0, 80);
  margin: 15px;
}
nav .navbar-logo img{
  height: 70px;
  width: 100px;
}



/*Main styling*/
main{
  background: url('../img/jpg/background_the_who.jpg') no-repeat, #000;
  background-size: 90%;
  background-attachment: fixed;
  background-position: 230px;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: #FFF;
}

main #contact_header, main #contact_header ~ p{
    text-align: center;
}

/*Styling for article page*/
article{
  margin: 4% auto;
  max-width: 800px;
  background: #e2dcdc;
  padding: 20px;
  color: #000;
  border-radius: 5px;
}
/*Of course, heading must be centered*/
article .news_title{
  text-align: center;
}
/*Short text description must be bold*/
article #inleiding{
  font-weight: bold;
}

/*Give image 100% width of main*/
article figure > img{
  width: 100%;
  height: 400px;
}
article figcaption{
    font-style: italic;
    line-height: 1.9;
}
/*Except the current band page*/
article section figure > img{
  width: 50%;
  height: 350px;
  padding: 15px;
  float: left;
}
article figure{ margin: auto; }

/*
*=========================
* News items page styling
* ========================
**/
article.news_item{
  margin: 4% auto;
  max-width: 800px;
  background: #da2128;
  padding: 10px;
  border-radius: 5px;
  color: #FFF;
  overflow: hidden;
}
article.news_item figure > img{
  width: 50%;
  height: 250px;
  padding: 15px;
  float: left;
}

article.news_item .link_btn{
  padding: 10px;
  background-color: #edbc00;
  border-radius: 5px;
  color: #FFF;
  text-decoration: none;
}
article.news_item .news_item_title{
  border: 0px;
  font-size: 1.2em;
}
@media (max-width: 320px) {
  article.news_item .news_item_title{
      font-size: 1.0em;
  }
}

.source{
  font-style: italic;
}

ol{
  padding: 0;
  list-style-position: inside;
}
ol li{ line-height: 2em; }
table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: #000;
}
table th, td{
  text-align: left;
  font-size: 1.0em;
  padding: 10px;
  border: 2px solid rgb(1, 0, 80);
}
table tr:nth-child(even){
  background: rgb(1, 0, 80);
  opacity: 0.5;
  color: #FFF;
}

/*
* ==========================================================
* Homepage Styling
* ==========================================================
*/

main#homepage section#slider_section{
  margin-bottom: 20px;
}

main#homepage section#tour_agenda {
  width: 80%;
  margin: 20px auto;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}
main#homepage section#tour_agenda h2{ color: #000; border: 0;}

ul#home_block, ul#home_block_under{
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr;
  -ms-grid-collumns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin: auto;
  padding: 10px;
  background-color: #da2128;
  width: 80%;
}

ul#home_block img, ul#home_block_under img{
  width: 100%;
  height: 150px;
}
ul#home_block li, ul#home_block_under li{
  background-color: #3fa9f5;
  padding: 20px;
}
ul#home_block p.block_title, ul#home_block_under p.block_title{
  text-align: center;
  font-size: 1.3em;
  line-height: 0.2;
  font-weight: bold;
}
ul#home_block li p, ul#home_block_under li p { color: #FFF; }
ul#home_block .link_btn{
  color: #FFF;
  background: #edbc00;
  padding: 10px;
  border-radius: 10px;
  display: block;
  text-align: center;
}

/*Styling for top 10 list page*/
.top_10 ul{
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 100%;
}
.top_10 ul li{
  padding: 40px 0 40px;
  position: relative;
}
.top_10 ul li span.count{
  padding: 15px 20px 15px 20px;
  color: #FFF;
  background: grey;
  display: inline-block;
}
.top_10 ul li p.list_title{
  display: inline-block;
  font-size: 1.6em;
  margin-left: 20px;
}
.top_10 ul li div.videoWrapper{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.top_10 ul li div.videoWrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
*==========================================================================
* Styling for forms
*==========================================================================
*/
/* Style inputs, select elements and textareas */
form{
  background-color: #edbc00;
  border-radius: 2%;
  padding: 15px;
  color: #000;
  width: 80%;
  margin: auto;
}

/* Style the label to display next to the inputs */
label {
  display: block;
  padding: 1em 0 0.5em 0;
}
input, textarea{
  font-size: 1em;
  display: block;
  width: 100%;
  /* max-width: 400px; */
  padding: 0.8em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
textarea{
  font-size: 1em;
  height: 100%;
  margin-bottom: 1em;
}
form div#paymethod{
  float: left;
  clear: none;
  padding: 5px;
  margin-bottom: 20px;
}
form div#paymethod label{
  float: left;
  clear: none;
  display: block;
  padding: 2px 1em 0 0;
}
form div#paymethod input[type="radio"]{
  float: left;
  clear: none;
  margin: 2px 0 0 -28px;
  width: 60%;
}


/*
* ==========================================================
* Footer styling
* ==========================================================
*/
footer{
  position:relative;
  height: 90px;
  text-align: center;
  margin: auto;
  background: #edbc00;
}
footer .copyright{ margin: 0; }

/*
* Responsive layout menu and main.
*/
@media (max-width: 1185px) {
  nav{
    float: none !important;
    width: 100%;
    position: relative;
    display: inline-table;
  }
  nav ul{
    float: none;
    margin: 0;
    padding: 0;
  }
  nav ul li{
    display: block;
  }
  ul{
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s ease-out;
    -moz-transition: max-height 0.3s ease-out;
    -ms-transition: max-height 0.3s ease-out;
    -o-transition: max-height 0.3s ease-out;
    transition: max-height 0.3s ease-out;
  }
  ul.dropdown_menu{
    position: relative;
    max-height: 100%;
  }
  .menuicon{
    position: relative;
    width: 25px;
    height: 21px;
    display: block;
    float: right;
    right: 20px;
  }
  .menuicon span{
    display: block;
    top: 8px;
    width: 25px;
    height: 5px;
    background-color: #000;
    position: relative;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -ms-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .menuicon span::after, .menuicon span::before{
    display: block;
    content: '';
    position: absolute;
    width: 25px;
    height: 5px;
    background-color: #000;
    -webkit-transition-property: margin, -webkit-transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0;
    -moz-transition-delay: 0.2s, 0;
    -ms-transition-delay: 0.2s, 0;
    -o-transition-delay: 0.2s, 0;
    transition-delay: 0.2s, 0;
  }
  .menuicon span::before {
    margin-top: -8px;
  }
  .menuicon span::after {
    margin-top: 8px;
  }
  #hamburger:checked ~ .menuicon span{
      background: rgba(0, 0, 0, 0);
  }
  /*And this is for sliding down a navbar*/
  #hamburger:checked ~ ul{
    max-height: 530px;
    -webkit-transition: max-height 0.3s ease-out;
    -moz-transition: max-height 0.3s ease-out;
    -ms-transition: max-height 0.3s ease-out;
    -o-transition: max-height 0.3s ease-out;
    transition: max-height 0.3s ease-out;
  }
  /*This is for rotating span-tags of hamburger-icon*/
  #hamburger:checked ~ .menuicon span::before, #hamburger:checked ~ .menuicon span::after{
    margin-top: 0;
    -webkit-transition-delay: 0, 0.2s;
    -moz-transition-delay: 0, 0.2s;
    -ms-transition-delay: 0, 0.2s;
    -o-transition-delay: 0, 0.2s;
    transition-delay: 0, 0.2s;
  }
  #hamburger:checked ~ .menuicon span::before{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #hamburger:checked ~ .menuicon span::after{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  ul#home_block, ul#home_block_under{
    max-height: 100%;
  }
}

@media (max-width: 800px){
  main, footer{
      float: none !important;
      width: 100%;
  }

  /*Responsive design article*/
  main{
      background-size: 106%;
      background-attachment: fixed;
      background-position: center;
  }
  ul#home_block, ul#home_block_under{
    grid-template-columns: 1fr;
  }
  article{
      margin: 5%;
  }
  article section figure > img{
      height: 250px;
  }
  h1{
      font-size: 1.8em;
  }
  table th, td{
      font-size: 0.8em;
  }
}
