html, body{
  font-family: "Lato", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(1, 0, 80);
}

h1{
    font-size: 2.5em;
}

h2{
    font-size: 1.5em;
    border-bottom: 2px solid;
}

h3{
    font-size: 1.125em;
}

h1, h2, h3{ color: #edbc00; }

p{
    line-height: 1.55;
    font-size: 1em;
}

/*
*==========================================================================
* Styling for navigation bar
*==========================================================================
*/
nav{
    float: left;
    width: 20%;
    background: #edbc00;
    position: fixed;
    height: 100%;
    padding: 20px 0 0;
}
#hamburger, .menuicon{
    display: none;
}
/*For unordered list*/
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
}
/*This is for dropdown-menu's*/
nav ul li#member-dropdown-btn ul.dropdown_menu{
    display: none;
    background-color: #eee;
    padding: 0px;
    margin: 0;
    position: absolute;
    width: 100%;
    overflow: auto;
}
nav ul li#member-dropdown-btn:hover > ul{
    display: block;
}
/*Float all list-items to left side of the navbar*/
nav ul li{
    margin: auto;
    border-bottom: 1px solid #CCC;
}
/*Add some padding to give spaces between two links*/
nav ul li a{
    display: block;
    padding: 1em;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*This is for changing background color when user hovers on a link*/
nav ul li a:hover{
    background: rgb(1, 0, 80);
    text-decoration: underline;
    color: #FFF;
    opacity: 0.8;
}
/*When a link is selected, keep that background color.*/
.selected{
    background: rgb(1, 0, 80);
    text-decoration: underline;
    color: #FFF;
}
/*Logo styling*/
nav .navbar-logo{
    position: relative;
    top: 0;
    font-size: 25px;
    line-height: 1.042;
    font-weight: 700;
    text-decoration: none;
    color: rgb(1, 0, 80);
    margin: 15px;
}
nav .navbar-logo img{
    height: 80px;
}



/*Main styling*/
main{
    background: url('../img/jpg/background_the_who.jpg') no-repeat, #000;
    background-size: 90%;
    background-attachment: fixed;
    background-position: 230px;
    width: 80%;
    height: 100%;
    float: right;
    overflow: auto;
    color: #FFF;
}

main #contact_header, main #contact_header ~ p{
    text-align: center;
}

/*Styling for article page*/
article{
    margin: 4% auto;
    max-width: 800px;
}
/*Of course, header must be centered*/
article .news_title{
  text-align: center;
}
/*Short text description must be bold*/
article #inleiding{
    font-weight: bold;
}

/*Give image 100% width of main*/
article figure > img{
    width: 90%;
    height: 450px;
}

.source{
    font-style: italic;
}

ol{
    padding: 0;
    list-style-position: inside;
}
table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
table th, td{
    text-align: left;
    font-size: 1.0em;
    padding: 10px;
    border: 2px solid rgb(1, 0, 80);
}
table tr:nth-child(even){
    background: rgb(1, 0, 80);
    opacity: 0.5;
    color: #FFF;
}

/*Footer styling*/
footer{
    position:relative;
    width: 80%;
    height: 90px;
    float: right;
    text-align: center;
    margin: auto;
    background: #edbc00;
}
footer .copyright{ margin: 0; }

/*
* Responsive layout menu and main.
*/
@media (max-width: 800px){
    nav, main, footer{
        float: none !important;
        width: 100%;
    }
    nav{
        position: relative;
    }
    ul{
      max-height: 0;
      overflow: hidden;
      -webkit-transition: max-height 0.3s ease-out;
      -moz-transition: max-height 0.3s ease-out;
      -ms-transition: max-height 0.3s ease-out;
      -o-transition: max-height 0.3s ease-out;
      transition: max-height 0.3s ease-out;
    }
    ul.dropdown_menu{
        position: relative;
        max-height: 100%;
    }
    .menuicon{
        position: relative;
        width: 25px;
        height: 21px;
        display: block;
        float: right;
        bottom: 10px;
        right: 20px;
    }
    .menuicon span{
        display: block;
        top: 8px;
        width: 25px;
        height: 5px;
        background-color: #000;
        position: relative;
        -webkit-transition-duration: 0;
        -moz-transition-duration: 0;
        -ms-transition-duration: 0;
        -o-transition-duration: 0;
        transition-duration: 0;
        -webkit-transition-delay: 0.2s;
        -moz-transition-delay: 0.2s;
        -ms-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }
    .menuicon span::after, .menuicon span::before{
        display: block;
        content: '';
        position: absolute;
        width: 25px;
        height: 5px;
        background-color: #000;
        -webkit-transition-property: margin, -webkit-transform;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -ms-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-delay: 0.2s, 0;
        -moz-transition-delay: 0.2s, 0;
        -ms-transition-delay: 0.2s, 0;
        -o-transition-delay: 0.2s, 0;
        transition-delay: 0.2s, 0;
    }
    .menuicon span::before {
        margin-top: -8px;
    }
    .menuicon span::after {
        margin-top: 8px;
    }
    #hamburger:checked ~ .menuicon span{
        background: rgba(0, 0, 0, 0);
    }
    /*And this is for sliding down a navbar*/
    #hamburger:checked ~ ul{
        max-height: 530px;
        -webkit-transition: max-height 0.3s ease-out;
        -moz-transition: max-height 0.3s ease-out;
        -ms-transition: max-height 0.3s ease-out;
        -o-transition: max-height 0.3s ease-out;
        transition: max-height 0.3s ease-out;
    }
    /*This is for rotating span-tags of hamburger-icon*/
    #hamburger:checked ~ .menuicon span::before, #hamburger:checked ~ .menuicon span::after{
        margin-top: 0;
        -webkit-transition-delay: 0, 0.2s;
        -moz-transition-delay: 0, 0.2s;
        -ms-transition-delay: 0, 0.2s;
        -o-transition-delay: 0, 0.2s;
        transition-delay: 0, 0.2s;
    }
    #hamburger:checked ~ .menuicon span::before{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #hamburger:checked ~ .menuicon span::after{
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    /*Responsive design article*/
    main{
        background-size: 106%;
        background-attachment: fixed;
        background-position: center;
    }
    article{
        margin: 5%;
    }
    h1{
        font-size: 1.8em;
    }
    table th, td{
        font-size: 0.8em;
    }
}

/*
*==========================================================================
* Styling for contact page, why to have an empty contact page just for
* testing the navigation links? Please answer that Teacher ;)
*==========================================================================
*/
/* Style inputs, select elements and textareas */
form{
    background-color: #edbc00;
    border-radius: 2%;
    padding: 15px;
    color: #000;
}

/* Style the label to display next to the inputs */
label {
  display: block;
  padding: 1em 0 0.5em 0;
}
input, textarea{
    font-size: 1em;
    display: block;
    width: 100%;
    /* max-width: 400px; */
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
textarea{
    font-size: 1em;
    height: 100%;
    margin-bottom: 1em;
}

/* Style the submit button */
/* input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: none;
} */
