ul#webstore{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-collumns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 0;
    padding: 10px;
    max-height: 100%;
}
ul#webstore img{
    width: 100%;
}
ul#webstore li{
    background: #FFF;
    /* Firefox */
    -moz-transition: all 0.3s ease;
    /* WebKit */
    -webkit-transition: all 0.3s ease;
    /* Opera */
    -o-transition: all 0.3s ease;
    /* Standard */
    transition: all 0.3s ease;
}
ul#webstore li h2{
  font-size: 1.6em;
  float: right;
  width: 70%;
  bottom: 20px;
  position: relative;
}
ul#webstore li span.prijs{
    display: inline-block;
    position: relative;
    padding: 17px 3px;
    background: #CC0000;
    color: #FFF;
    border-radius: 50%;
    font-size: 0.9em;
    float: left;
    bottom: 45px;
    left: 5%;
    transform: rotate(10deg);
}
ul#webstore li p{
    width: 50%;
    margin: auto;
}
ul#webstore li .link_btn{
    display: inline-block;
    background: #0f9b49;
    color: #FFF;
    padding: 10px;
    position: relative;
    bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
    width: 90%;
    /* Firefox */
    -moz-transition: all 0.3s ease;
    /* WebKit */
    -webkit-transition: all 0.3s ease;
    /* Opera */
    -o-transition: all 0.3s ease;
    /* Standard */
    transition: all 0.3s ease;
}
ul#webstore li .link_btn:hover{
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}

@media (max-width: 768px) {
    ul#webstore{ grid-template-columns: 1fr 1fr; }
}
@media (max-width: 552px) {
    ul#webstore{ grid-template-columns: 1fr; }
}
