ul#webstore{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-collumns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 0;
    padding: 10px;
}
ul#webstore img{
    width: 100%;
}
ul#webstore li{
    background: #FFF;
    cursor: pointer;
    /* Firefox */
    -moz-transition: all 0.3s ease;
    /* WebKit */
    -webkit-transition: all 0.3s ease;
    /* Opera */
    -o-transition: all 0.3s ease;
    /* Standard */
    transition: all 0.3s ease;
}
ul#webstore li:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 10px 0 rgba(17, 13, 122, 0.8);
}
ul#webstore li h2{
    font-size: 1.2em;
    float: right;
    width: 50%;
}
ul#webstore li span.prijs{
    display: inline-block;
    position: relative;
    padding: 17px 3px;
    background: #CC0000;
    color: #FFF;
    border-radius: 50%;
    font-size: 0.9em;
    float: left;
    bottom: 45px;
    left: 5%;
    transform: rotate(10deg);
}
ul#webstore li p{
    width: 50%;
    margin: auto;
}
ul#webstore li .link_btn{
    display: inline-block;
    background: #0f9b49;
    color: #FFF;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    text-decoration: none;
    width: 90%;
}
