html, body{
  font-family: "Lato", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #db1a1a;
}

body{
    background-image: url('../img/jpg/hout.jpg');
}

h1{
    font-size: 2.5em;
    margin: 0;
}
h1, h2{
    color: #db1a1a;
}

h3{ color: #0f9b49; }

h2{
    font-size: 1.5em;
    border-bottom: 2px solid;
}
h1#contact_title { border-bottom: 2px solid; }
h3{
    font-size: 1.40em;
}

/*Styling header and navigation bar*/
header{
    margin: 0;
    padding: 1.5em 0;
    background: #db1a1a;
    text-align: center;
    display: block;
}
header nav{
    width: 100%;
    height: 80px;
}
header nav .logo{
    float: left;
    position: relative;
    left: 15%;
}
header nav .logo img{
    display: inline-block;
    vertical-align: top;
    width: 60%;
}
header nav ul > li{
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  font-size: 1.3em;
  background-color: #0f9b49;
  padding: 15px;
  /* Firefox */
  -moz-transition: all 0.3s ease;
  /* WebKit */
  -webkit-transition: all 0.3s ease;
  /* Opera */
  -o-transition: all 0.3s ease;
  /* Standard */
  transition: all 0.3s ease;
}
header nav ul > li:hover{
    transform: scale(1.2);
}
header nav ul li a{
    color: #FFF;
    text-decoration: none;
}

main{
    max-width: 1000px;
    margin: 2em auto;
    min-height: 100%;
}

/*This is for styling a homepage ul*/
ul#home_block, ul#home_block_under{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr;
    -ms-grid-collumns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 0;
    padding: 10px;
}
ul#home_block img, ul#home_block_under img{
    width: 100%;
}
ul#home_block li, ul#home_block_under li{
    background-color: #db1a1a;
    padding: 15px;
}
ul#home_block li p, ul#home_block_under li p { color: #0f9b49; }
ul#home_block h3, ul#home_block_under h3{ text-align: center; }
ul#home_block .link_btn{
    color: #FFF;
    background: #0f9b49;
    padding: 10px;
    border-radius: 10px;
    display: block;
    text-align: center;
}

/*Styling vestiging pagina*/
ul#vestigingen_block{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-collumns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 0;
    padding: 10px;
}
ul#vestigingen_block li{
    background-color: #db1a1a;
    padding: 10px 20px 10px 20px;
}
ul#vestigingen_block li p{
    color: #FFF;
    line-height: 0.9;
}
ul.openingstijden{
    color: #FFF;
    list-style: none;
    line-height: 1.2;
}

/*Styling of pizza menu*/
ul#pizza_menu{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-collumns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 0;
    padding: 10px;
}
ul#pizza_menu img{
    width: 100%;
}
ul#pizza_menu li{
    background: #FFF;
    cursor: pointer;
    /* Firefox */
    -moz-transition: all 0.3s ease;
    /* WebKit */
    -webkit-transition: all 0.3s ease;
    /* Opera */
    -o-transition: all 0.3s ease;
    /* Standard */
    transition: all 0.3s ease;
}
ul#pizza_menu li:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 10px 0 rgba(17, 13, 122, 0.8);
}
ul#pizza_menu li h2{
    font-size: 1.2em;
    float: right;
    width: 50%;
}
ul#pizza_menu li span.prijs{
    display: inline-block;
    position: relative;
    padding: 17px 3px;
    background: #CC0000;
    color: #FFF;
    border-radius: 50%;
    font-size: 0.9em;
    float: left;
    bottom: 45px;
    left: 5%;
    transform: rotate(10deg);
}
ul#pizza_menu li p{
    width: 50%;
    margin: auto;
}
ul#pizza_menu li .link_btn{
    display: inline-block;
    background: #0f9b49;
    color: #FFF;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    text-decoration: none;
    width: 90%;
}

/*Contact form styling*/
main .hq_img{ width: 100%; }
.bold_text { font-weight: bold; }
form{
    background-color: #db1a1a;
    border-radius: 2%;
    padding: 15px;
    color: #FFF;
}

/* Style the label to display next to the inputs */
label {
  display: block;
  padding: 1em 0 0.5em 0;
}
input, textarea{
    font-size: 1em;
    display: block;
    width: 100%;
    /* max-width: 400px; */
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
textarea{
    font-size: 1em;
    height: 100%;
    margin-bottom: 1em;
}

/*Responsive styling for tablet and mobile*/
@media (max-width: 768px) {
    header nav{
        height: 100%;
    }
    header nav .logo{
        float: inherit;
        left: 0;
    }
    header nav .logo img{
        width: auto;
    }
    header nav ul > li{
        display: inherit;
        height: 40px;
        padding: 5px;
        margin-bottom: 20px;
    }
}
@media (max-width: 426px) {
    ul#pizza_menu, ul#home_block, ul#home_block_under, ul#vestigingen_block{
        grid-template-columns: 1fr;
    }
    ul li h2{
        font-size: 1.5em;
    }
}


/*Footer styling*/
footer{
    position:relative;
    width: 100%;
    float: none;
    text-align: center;
    background: #db1a1a;
    height: 60px;
    color: #0f9b49;
}
