html, body{
  font-family: "Lato", Helvetica, Arial, sans-serif;
  margin: auto;
  padding: auto;
  color: rgb(1, 0, 80);
}

/*
*==========================================================================
* Styling for navigation bar
*==========================================================================
*/
nav{
    float: left;
    width: 20%;
    background: #eee;
    position: fixed;
    height: 100%;
}
/*For unordered list*/
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*Float all list-items to left side of the navbar*/
nav ul li{
    margin: auto;
    border-bottom: 1px solid #CCC;
}
/*Add some padding to give spaces between two links*/
nav ul li a{
    display: block;
    padding: 1em;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*This is for changing background color when user hovers on a link*/
nav ul li a:hover, .selected{
    background: rgb(1, 0, 80);
    text-decoration: underline;
    color: #FFF;
}

nav .navbar-logo{
    font-size: 30px;
    line-height: 1.042;
    height: 53px;
    font-weight: 700;
    padding: 14px 14px;
    text-decoration: none;
    color: darkblue;
}

main{
    width: 80%;
    float: right;
}
main #contact_header, main #contact_header ~ p{
    text-align: center;
}

/*Styling for article page*/
article{
    margin: 4% auto;
    max-width: 800px;
}
/*Of course, header must be centered*/
article h1{
  text-align: center;
}
/*Short text description must be bold*/
article #inleiding{
    font-weight: bold;
}
/*Give*/
article figure > img{
    width: 100%;
}
@media (max-width: 800px){
    nav, main{
        float: none;
        width: 100%;
    }
    nav{ position: relative; }
    article{
        margin: 5%;
    }
    h1{
        font-size: 1.8em;
    }
}
/*
*==========================================================================
* Styling for contact page, why to have an empty contact page just for
* testing the navigation links? Please answer that Teacher ;)
*==========================================================================
*/
/* Style inputs, select elements and textareas */
main form{
    margin-left: auto;
    width: 80%;
}
input[type="text"], input[type="email"], select, textarea{
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: none;
}

/* Floating column for labels: 25% width */
.col-label {
  float: left;
  width: 26%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-input {
  float: left;
  width: 61%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*
* Responsive layout - when the screen is less than 600px wide,
* make the two columns stack on top of each other
* instead of next to each other
*/
@media (max-width: 600px) {
  main form{
      width: 100%;
      text-align: center;
  }
  .col-label, .col-input, input[type=submit], input[type=text], input[type=email], select, textarea {
    width: 100%;
    margin-top: 0;
  }
}
