html, body{
  font-family: "Lato", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #0f9b49;
}

body{
    background-image: url('../img/jpg/hout.jpg');
}

h1{
    font-size: 2.5em;
    margin: 0;
    color: #FFF;
}

header{
    margin: 0;
    padding: 1.5em 0;
    background: #444;
    text-align: center;
    display: block;
}

main{
    max-width: 1000px;
    margin: 2em auto;
    min-height: 100%;
}

ul{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 0;
    padding: 10px;
}
ul img{
    width: 100%;
}
ul li{
    background: #FFF;
    cursor: pointer;
    /* Firefox */
    -moz-transition: all 0.3s ease;
    /* WebKit */
    -webkit-transition: all 0.3s ease;
    /* Opera */
    -o-transition: all 0.3s ease;
    /* Standard */
    transition: all 0.3s ease;
}
ul li:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 10px 0 rgba(17, 13, 122, 0.8);
}
ul li h2{
    font-size: 1.2em;
    float: right;
    width: 50%;
}
ul li span.prijs{
    display: inline-block;
    position: relative;
    padding: 17px 3px;
    background: #CC0000;
    color: #FFF;
    border-radius: 50%;
    font-size: 0.9em;
    float: left;
    bottom: 45px;
    left: 5%;
    transform: rotate(10deg);
}
@media (max-width: 426px) {
    ul li span.prijs{
        font-size: 0.5em;
        bottom: 30px;
        padding: 10px 3px;
    }
    ul li h2{
        font-size: 0.7em;
    }
}


/*Footer styling*/
footer{
    position:relative;
    width: 100%;
    float: none;
    text-align: center;
    background: #444;
    height: 60px;
}
